.registration-error-message
  color #DB4437

.panel-logo
	text-align center

.panel-logo img
	width 100px

[name="registerForm"] strct-button-primary
  margin auto
  display block
  text-align center

.strct-button
  background-color #399076 !important