.strct-label
  width 100%

.strct-label-mobile,
.strct-label-desktop
  margin-bottom 25px
  border-width 0 0 1px 0
  border-bottom-style solid
  border-color $default-border-color

.strct-label-mobile
  margin-left 0
  width 100%

.strct-label-desktop
  margin-left 15%
  width 85%
