md-toast.strct-notification-info,
md-toast.strct-notification-error,
md-toast.strct-notification-warning
  top 35px
  right 20px
  left inherit
  color #ffffff
  background-color #4255ff

md-toast.strct-notification-info
  color #3c763d
  background-color #d6e9c6

md-toast.strct-notification-info span,
md-toast.strct-notification-error span
  max-height 100%
  overflow auto

md-toast.strct-notification-info span
  text-align center

md-toast.strct-notification-error
  background-color #f2dede

md-toast.strct-notification-error,
md-toast.strct-notification-error span
  color $red-lipstick-color

md-toast.strct-notification-error button
  margin-top 1px
  margin-right 2px
  margin-left 20px
  text-transform none
  border solid 1px #ebccd1
