$active-background-color = #222933
$active-border-color = rgb(85, 141, 170)
$navbar-menu-color = #C5D0DF
$faces-shadow = rgba(255, 255, 255, 0.5)
$menu-font-size = 14px
$submenu-font-size = 12px

.left-sidebar-container
  height 100vh
  display flex
  flex-flow row wrap
  justify-content space-around

.left-sidebar-container md-toolbar
  box-shadow none

.left-sidebar-menu
  width 100%

.left-sidebar-menu .navbar-subsection-item .navbar-item i
  width 29px
  font-size 19px
  line-height 12px

.navbar-identity
  outline 0
  cursor pointer
