strct-button-style()
  stract-border-radius(5px)
  box-shadow-simple()
  font-size 1.5em
  width auto
  height auto
  padding-left 20px
  padding-right 20px

strct-button-danger .md-button.md-danger-theme.md-hue-3.md-accent.md-raised, strct-button-danger .md-button.md-danger-theme.md-hue-3.md-accent.md-raised
  strct-button-style()

strct-button-warning .md-button.md-warning-theme.md-hue-3.md-accent.md-raised
  strct-button-style()

strct-button-default button.md-accent.md-raised.md-hue-2.md-button.md-strctdefault-theme
  strct-button-style()

strct-button-primary .md-button.md-default-theme.md-hue-2.md-accent.md-raised, strct-button-primary .md-button.md-maincontent-theme-theme.md-hue-2.md-accent.md-raised
  strct-button-style()

.strct-button md-icon
  display inherit
  font-size 26px
  margin-top -6px
  margin-right 10px

strct-button-primary button.md-button.strct-button.md-accent.md-default-theme.md-hue-2[disabled]
  background-color transparent

strct-button-danger .md-button:hover,
strct-button-warning .md-button:hover,
strct-button-default .md-button:hover,
strct-button-primary .md-button:hover
  stract-brightness(90%)
